:root {
    --secondary-color:#666;
    --introduction-span-color:#FF8A56;
}


* {
    text-decoration: none;
    /* outline: 1px solid rgb(255, 0, 0); */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}


/* Mobile First */
header {
    display: flex;
    /* TODO display: flex; sətir boyunca bizim elementleri düzür */

    justify-content: space-between;
    /* TODO  justify-content: space-between; img-nav arasına boşluq qoyur */

    align-items: center;
    /* TODO align-items: center; yuxarıdan aşağıya doğru düz mərkəzə çəkir */

    margin: 0 0;
}


header nav {
    display: none;
}

header nav a {
    color:#000;
    margin-right: 10px;
}

/*  TODO 576-dan kicik olanda ekstra kicik cihazlar col-12 */
/*  TODO 576-768-dan kicik olanda   */
/*  TODO 768-991-dan kicik oplanset col-md */
/*  TODO 991-1200px noutbuklar  */ 
/* TODO 1200-1400px pc */

/* TODO Smart tv 1400px-uzu yuxari */



/* INTRODUCTION START */

.introduction .intro-left-side h1 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 36px;
    
}

.introduction .intro-right-side img {
    width: 350px;
    
}

.div .logo:nth-child(2),
.div .logo:nth-child(3),
.div .logo:nth-child(4){
   display: none;
}

.services-cards .card:nth-child(2),
.services-cards .card:nth-child(3){
   display: none;
}


.introduction .intro-left-side h1 span {
    color: var(--introduction-span-color);
}

.introduction .intro-left-side p {
    color:var(--secondary-color);
    font-weight: 400;
}

.book-a-call {
    margin-top: 40px;
}

.introduction .intro-left-side .book {
    background: #222;
   
    color:#fff;
    width: 151px;
    height: 58px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 10px;
}

.div{
    justify-content: space-between;
    display: flex;
    margin: 0 44px;
}

.h1{
   margin-left: 500px;
   margin-right: 400px;
   font-size: 18px;
   color: #000;
 
}

.logoipsumlar h6{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

h5{
    color: #000;
    font-size: 20px;
   
}

.logoipsumlar{
    padding: 39px 33px;
   
}




.services-cards{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(306px,1fr));
    gap: 10px;
    margin: 0 48px 64px 38px;
 
}

.services-cards .card:hover{
    -webkit-box-shadow: 28px -20px 27px -6px rgba(0,0,0,1);
-moz-box-shadow: 28px -20px 27px -6px rgba(0,0,0,1);
box-shadow: 28px -20px 27px -6px rgba(0,0,0,1);
    border-radius: 20px;
}

.services h6{
    text-align: center;
    text-transform: uppercase;
    color: #FF8A56;
    font-size: 22px;
    letter-spacing: 2px;
}

.services h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}

.services ul{
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
}

.services-cards .card{
    transition: all .1s ease-in;
    padding: 0 0;
    margin-bottom: 100px;
    margin: 0 0;

}

.services-cards .card ul li{
    color: #000;
    font-size: 16px;
    font-weight: 1000;

}


.services-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
    gap: 20px;
    margin: 0 38px 0 30px;
}

h3{
    color: blue;
}

.services .h5{
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    color: #000000;
}

.cards{
    background-color: #fff;
}

.i{
  
    margin-left: 1161.5px;
    
}

.fa-chevron-left{
    background-color: #fff;
    padding: 20px 20px;
    margin: 10px 0 0 -100px;
}

.fa-chevron-right{
    background-color: #ffffff;
    padding: 20px 20px;
    margin: 30px 0 0 -5px;
}

h4{
    color: #ffffff;
    font-size: 48px;
}


.h4{
    color: #ffffff;
    font-size: 28px;
    margin: 33px 0 0 0;
}



article{
    color: #ffffff;
    opacity: .7;
    margin: 0 0 0 0;
}

.div-right{
    margin: 10px 0 0 100px;
}


.left-side h6{
    color: #FF5E69;
    font-size: 20px;
    margin: 100px 0 -58px 40px;
}

.left-side h1{
    color: #000000;
    font-size: 50px;
    margin: 90px 0 0 40px;
}




.parent{
    margin: 0 0 0 90px;
}




.introduction h2{

    color: #000000;
    font-size: 24px;
    padding: 30px 0 0 0;
}

.introduction article{

    color: #000000;
    font-size: 15px;
    
}

.introduction p{

    color: #000000;
    font-size: 15px;
    margin: -19px 0 0 300px;
    opacity: .7;
    
}

.intro-right p{

    color: #000000;
    font-size: 15px;
    margin: -19px 0 0 200px;
    opacity: .7;
}

.left h1{

    margin: 90px 0 0 90px;
    color: #4353FF;
    font-size: 22px;

}

.right h3{

    margin: 10px 0 100px 90px;
    color: #000000;
    font-size: 40px;

}

.right img{

    margin: 270px 0 0 90px;

}

.left h2{

    margin: 40px 0 0 90px;
    font-size: 54px;

}

.left img{

    margin: 0 0 0 90px;
}

.right .fa-chevron-left {
    background-color: #000000;
    padding: 20px 20px;
    margin: 0 0 0 600px;
}

.right .fa-chevron-right {
    background-color: #000000;
  
}

.right h4{
    color: #000;
    margin: -30px 0 -65px 90px;
    font-size: 20px;
}

.right article{
    color: #000;
    margin: 100px 0 -65px 90px;
    font-size: 20px;
}

.entrance-intro{
    background-color: #000;
    margin: 100px 0 0 0;
}

.left-intro{
    margin: 250px 0 0 -800px;
    color: #fff; 
}

.right-intro{
    margin: 250px 0 0 200px;
    color: #fff; 
}

.right-intro h1{
    margin: 0 0 60px 0;
    color: #fff; 
    font-size: 20px;
}

.left-intro h1{
    margin: 0 0 60px 0;
    color: #fff; 
    font-size: 20px;
}

.services-card img{
    width: 300px;
}

.services-card .karts img{
    width: 100px;
}

.services-card .karts:nth-child(2){
    display: none;
}

.services-card .kards:nth-child(3){
    display: none;
}

.services-cards .cards:nth-child(2),
.services-cards .cards:nth-child(3){
    display: none;
}

.services-card .kards img{
    width: 270px;
}

.entrance{
    background-color: #000;
}

h3{
    color: #4353FF;
}

.div-right article{
        margin: 0 0 0 -80px;
}

.div-right .h4{
    color: #ffffff;
    font-size: 22px;
    margin: 33px 0 0 -86px;
}

.div-right p{
    color: #fff;
    margin: 18px 0 0 -84px;
}

.intro-right{
    margin: 0 0 0 0;
}



.intro-right-side article{
    font-size: 20px;
    font-weight: 200;
    color: #000;
    text-align: right;
    margin: 46px 26px -9px 0;
}

.h5{
    color: #000;
}

.intro img{
    width: 361px;
    height: 227px;
    margin: 34px 0 0 6px;
}

.son-hisse{
    background-color: #000;
}

.son-left h1{
    font-size: 30px;
    margin: 0 0 0 60px;
    color: #fff;

}

.son-right .son-card h1{
    font-size: 18px;
    margin: 0 84px 0 0;
    color: #fff;
    text-align: right;

}

.son-left h3{
    font-size: 25px;
    margin: 20px 0 0 60px;
    color: #4353FF;

}

.son-left article{
    margin: 20px 0 0 60px;
}

.son-left h1{
    color: #fff;
    font-size: 44px;
}

.son-left h3{
    color: #4353FF;
    font-size: 40px;
}

.son-right h1{
    color: #fff;
    font-size: 44px;
    margin: 12 0px 0 0 30px;
}



/* TODO------------------------------------------------------*/



@media(max-width:575px) {
    .parentdiv {
        max-width: 100%;
    }

    header {
        display: flex;
 
        justify-content: space-between;
    
        align-items: center;
    
        margin: 0 0;
    }
    
    .div-left h2{
        color: #FF8A56;
        margin: 0 0 0 30px;
    }
    
    .div-left h4{
        
        margin: 10px 0 0 30px;
    }
    
    .div-left p{
        
        margin: 10px 0 60px 30px;
    }
}

@media(min-width:576px) {
    .parentdiv {
        max-width: 100%;
    }

    header {
        display: flex;
 
        justify-content: space-between;
    
        align-items: center;
    
        margin: 0 0;
    }

    .div-left h2{
        color: #FF8A56;
        margin: 0 0 0 30px;
    }
    
    .div-left h4{
        
        margin: 10px 0 0 30px;
    }
    
    .div-left p{
        
        margin: 10px 0 60px 30px;
    }

}

@media(min-width:768px) {
    .parentdiv {
        max-width: 100%;
    }

    .intro-right{
        margin: 0 0 0 300px;
    }


    .services-card img{
        width: 410px;
    }
    
    .services-card .kards img{
        width: 270px;
    }

    .services-card .karts img{
        width: 410px;
    }

    .services h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 54px;
        letter-spacing: 1px;
    }

    header {
        display: flex;
        /* TODO display: flex; sətir boyunca bizim elementleri düzür */
    
        justify-content: space-between;
        /* TODO  justify-content: space-between; img-nav arasına boşluq qoyur */
    
        align-items: center;
        /* TODO align-items: center; yuxarıdan aşağıya doğru düz mərkəzə çəkir */
    
        margin: 0 30px;
    }
    

    header nav {
        display: block;
    }
    
    .fa-bars {
        display: none;
    }

    .introduction{
        display: flex;
    }

    .introduction .intro-left-side{
        padding-top: 70px;
        margin: 0 0 0 30px;
    }

    .introduction .intro-right-side{
        padding-top: 70px;
    }

    .introduction .intro-left-side h1{
        font-size: 28px;
        color: #000000;
    }
    
    .introduction .intro-right-side img{
        width: 458px;
        height: 558px;
        margin: -28px 8px;
        
    }

    
    .div .logo:nth-child(3){
        display: block ;
    }

    .div-left h4{
        margin: 35px 0 0 0px;
    }

    .div-left p{
        margin: 10px 0 60px 0;
    }

    .intro-right-side article{
        font-size: 20px;
        font-weight: 200;
        color: #000;
        text-align: right;
        margin: -64px 26px 0 0;
    }
    
    .intro img{
        width: 1200px;
        height: 1000px;
        margin: 0 0 0 70px;
    }
   

}

@media(min-width:992px) {

    .son-div{
        max-width: 100%;
        background-color: #000;
    }

    .son-section{
        display: flex;
    }

     .logoipsumlar{
        padding: 29px 0 200px 0;
    }

    .services-card img{
        width: 410px;
    }
    
    .services-card .kards img{
        width: 270px;
    }

    .services-card .karts img{
        width: 410px;
    }

    .services-card .karts{
        display: inline !important;
    }

    .services-card .cards{
        display: inline !important;
    }

    .services-cards .kards{
        display: inline !important;
    }

    .services-cards .card{
        transition: all .1s ease-in;
        padding: 15px;
        margin-bottom: 100px;
        margin: 0 45px;
    
    }

    .services h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 54px;
        letter-spacing: 1px;
    }

    .parentdiv {
        max-width: 100%;
    }

    .div .logo{
        display: inline !important;
    }

    .div-left h4{
        margin: 35px 0 0 0px;
    }

    .div-left p{
        margin: 10px 0 60px 0;
    }

    .services-cards .card{
        display: inline !important;
    }

    .entrance{
        max-width: 100%;
        background-color: #000000;
    }


    .introduction {
        display: flex;
        
    }

    .introduction .intro-left-side h1 {
        font-size: 90px;

       
    }

    .introduction .intro-left-side {
        padding: 92px 0;
    }

    .introduction .intro-right-side {
        padding-top: 72px;
    }

    .introduction .intro-right-side img{
        width: 458px;
        height: 558px;
        margin: -28px 8px;
        
    }



    .intro-section{
        display: flex; 
    }

    .intro-section .div-left h2{
        font-size: 30px;
        color: #FF8A56;
      
        margin: 79px 0 -28px 0;
    }

    .intro-section .div-left .h2{
        font-size: 40px;
        color: #ffffff;
        
    }

    .intro-section .div-left{
        padding: 0 0 269px 0;
        margin: -46px 51px;
    }

    .intro-section .div-right{
        padding-top: 72px;
    }

    .intro-section .div-right img{
        width: 868px;
        height: 522px;
        margin: -46px -54px -179px -145px;
        padding: 0 0px 371px 38px;
    }

    header {
        display: flex;
        /* TODO display: flex; sətir boyunca bizim elementleri düzür */
    
        justify-content: space-between;
        /* TODO  justify-content: space-between; img-nav arasına boşluq qoyur */
    
        align-items: center;
        /* TODO align-items: center; yuxarıdan aşağıya doğru düz mərkəzə çəkir */
    
        margin: 0 30px;
    }
    
    .intro-right-side article{
        font-size: 20px;
        font-weight: 200;
        color: #000;
        text-align: right;
        margin: -64px 26px 0 0;
    }

    .intro img{
        width: 1200px;
        height: 1000px;
        margin: 0 0 0 70px;
    }
    
    .intro-right{
        margin: 0 0 0 300px;
    }


}

@media(min-width:1200px) {
    .parentdiv {
        max-width: 100%;
    }

    .intro-right{
        margin: 0 0 0 300px;
    }


    .intro-right-side article{
        font-size: 20px;
        font-weight: 200;
        color: #000;
        text-align: right;
        margin: -64px 26px 0 0;
    }

    .intro img{
        width: 1200px;
        height: 1000px;
        margin: 0 0 0 70px;
    }

    .services-card .karts{
        display: inline !important;
    }

    .services-card .kards{
        display: inline !important;
    }

    .services-cards .cards{
        display: inline !important;
    }

    .services-card img{
        width: 410px;
    }
    
    .services-card .karts img{
        width: 410px;
    }
    
    .services-card .kards img{
        width: 270px;
    }

    .services-cards .card{
        transition: all .1s ease-in;
        padding: 15px;
        margin-bottom: 100px;
        margin: 0 45px;
    
    }

    .services h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 54px;
        letter-spacing: 1px;
    }

    header {
        display: flex;
        /* TODO display: flex; sətir boyunca bizim elementleri düzür */
    
        justify-content: space-between;
        /* TODO  justify-content: space-between; img-nav arasına boşluq qoyur */
    
        align-items: center;
        /* TODO align-items: center; yuxarıdan aşağıya doğru düz mərkəzə çəkir */
    
        margin: 0 30px;
    }

    .div-left h4{
        margin: 35px 0 0 0px;
    }

    .div-left p{
        margin: 10px 0 60px 0;
    }
    

}

/* TODO-----------------------------------------------------*/





